# Conda / Python
__pycache__/
*.pyc
.env
.ipynb_checkpoints/

# VS Code
.vscode/

# Dados
data/

# Ambiente virtual
.venv/
venv/
__pycache__/
*.pyc

# Pyenv
.python-version

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
